@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

html {
    overflow: hidden
}

main {
    @include flex-center;
    background-color: $clr-primary-2;
    color: black;
    min-height: 100vh;

    .container {
        width: 90vw;
        max-width: 920px;
        display: grid;
        margin: 5rem auto;
        grid-gap: 1rem 2rem;
        background: $clr-white;
        padding: 2.5rem 2rem;
        border-radius: $radius;

        h3 {
            font-weight: 500;
        }

        .questions {
            
            article {
                padding: 1rem 1.6rem;
                border: 2px solid $clr-primary-3;
                border-radius: $radius;
                margin-bottom: 1rem;

                header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h4 {
                        font-weight: 700;
                        width: 80%;
                        margin: 0;
                    }

                    .btn {
                        width: 2rem;
                        height: 2rem;
                        padding: .5rem;
                        background-color: $clr-primary-special;
                        border-color: transparent;
                        font-size: 1.5rem;
                        border-radius: 50%; 
                        @include flex-center;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 990px) {
    .container {
        grid-template-columns: 250px 1fr;
    }
}